.admindashboard-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    height: 100%;
    margin-top: 20px;
    padding: 10px;
    

}

.admindashboard-card {
    justify-content: center;
    border-radius: 10px;
    /* height: 80rem; */
    width: 96%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    overflow: hidden;
    overflow-y: auto;
}

.admindashboard-card-header {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(46, 122, 220);
    border-radius: 5px;
    font-weight: 600;
    text-shadow: 2px 2px rgb(226, 197, 66);
    padding-left: 16px;
    border-radius: 5px;
}

.admindashboard-card-content {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 10px;
}
.admin-thead-con{
    background-color: rgb(90, 214, 156);
    opacity: 0.9;
    /* box-shadow: rgb(117, 222, 173) 0px 0px 10px; */
    font-size: 18px;
   
}