.admindashboard-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    height: 100%;
    margin-top: 100px;
    padding: 10px;
    background-color: aqua;
}

.admindashboard-card {
    justify-content: center;
    width: 1000px;
    border-radius: 10px;
    /* height: 80rem; */
    margin-top: -20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    overflow: hidden;
    overflow-y: auto;
}

.admindashboard-card-header {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(26, 25, 25);
    border-radius: 5px;
    padding-left: 16px;
    border-radius: 3px;
}

.admindashboard-card-content {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 10px;
}