.usertodolist-con {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    height: 100%;
    margin-top: 20px;
    /* background-color: rgb(217, 13, 13)  ; */
    padding: 10px;
}

.usertodolist-con-sub {
    display: block;
    width: 96%;
    /* background-color: aqua  ; */
   
}

.usertodolist-card {
    justify-content: center;
    border-radius: 10px;
    /* height: 80rem; */
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    overflow: hidden;
    overflow-y: auto;
  
}
.usertodolist-card-header {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    color: rgb(46, 122, 220);
    border-radius: 5px;
    font-weight: 600;
    text-shadow: 2px 2px rgb(226, 197, 66);
    padding-left: 16px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.usertodolist-card-content{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    padding: 10px;
    
}
.usertodolist-lable{
    font-size: 20px;
}
.usertodolist-button{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(111, 151, 200);
    box-shadow: 0px 5px 10px rgb(157, 159, 161);
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.usertodolist-button:hover{
    background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-6px);
}
.usertodolist-buttoncon {
    width: 100%;
    margin-top: 10px;
    text-align: center;
  
  }