.register-header {
  width: 100%;
  background-color: rgba(129, 121, 121, 0.332);
  text-align: center;
  height: 50px;
  animation: register-header 4s ease;
 
}

@keyframes register-header {
  from {
    width: 0%;
    opacity: 0;
    ;
  }

  to {
    width: 100%;
   opacity: 1;
    ;
  }
}

.register-text {

  font-size: 2rem;
  font-weight: 500;
  color: rgb(35, 112, 207);
  animation-name: register-text ;
  animation-duration: 8s;
}
@keyframes register-text {
  from {
    color:rgba(129, 121, 121, 0.332);
    opacity: 0;
    ;
  }

  to {
    color: rgb(35, 112, 207);
   opacity: 1;
    ;
  }
}

.register-con {

  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;

}

.register-content {

  background-color: white;
  padding: 20px;
  width: 600px;
  border-radius: 8px;
  animation: regiter-fade 3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes regiter-fade {
  from {
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 0px;
  }

  to {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.register-buttoncon {
  width: 100%;
  margin-top: 10px;
  text-align: center;

}

.register-button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(111, 151, 200);
  box-shadow: 0px 5px 10px rgb(157, 159, 161);
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.register-button-dis {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(79, 79, 79);
  /* box-shadow: 0px 5px 10px rgb(157, 159, 161); */
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  outline: none;
}

.register-button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-6px);
}
.register-button-dis:hover {
  background-color: #eb4646;
  box-shadow: 0px 15px 20px rgba(212, 91, 91, 0.4);
  color: #fff;
  transform: translateY(-6px);
}

.register-button:active {
  transform: translateY(-1px);
}